.landing-container {
	display: flex;
	align-items: center;
	justify-content: center;

	.landing {
		width: 93vw;
		background-color: $fondo;
		padding-top: 2em;
		padding-bottom: 2em;
		justify-content: center;

		.logo-container {
			display: flex;
			width: 100%;
			justify-content: center;
			margin-top: 1em;
			margin-bottom: 2em;

			.logo {
				width: 15em;
			}
		}

		.landing-text {
			display: flex;
			width: 100%;
			align-items: center;
			flex-direction: column;
			margin-bottom: 5em;

			.landing-title {
				font-size: 3em;
				color: $primario;
				line-height: 1.2em;
				text-align: center;
				width: 70%;
				margin: 0;
				font-family: 'Satisfy', cursive;
			}

			.landing-divider{
				border: 1px solid $secundario;
				width: 30%;
				margin-top: 2em;
				margin-bottom: 2em;
			}

			.landing-subtitle{
				width: 70%;
				font-size: 1.2em;
				text-align: center;
				margin: 0;
				font-style: italic;
				line-height: 1.2em;
				color: $terciario;
			}
		}
	}
}
