@import './Components/Navbar/Navbar.scss';
@import './Components/Landing/Landing.scss';
@import './Components/Products/Products.scss';

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
}
